# Ignore OS files
.DS_Store

# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build outputs
.next/
out/
build/
dist/
coverage/

# Environment / secrets
.env
.env.*
*.pem
*.key
*.p12
*.pfx
*.crt
*.csr

# Vercel local project metadata
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
